@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jmuj60');
  src:  url('../fonts/icomoon.eot?jmuj60#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jmuj60') format('truetype'),
  url('../fonts/icomoon.woff?jmuj60') format('woff'),
  url('../fonts/icomoon.svg?jmuj60#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e90f";
}
.icon-cutday:before {
  content: "\e90e";
}
.icon-diary:before {
  content: "\e90d";
}
.icon-pot3:before {
  content: "\e90c";
  color: #666;
}
.icon-search:before {
  content: "\e90b";
}
.icon-arrow-null:before {
  content: "\e90a";
}
.icon-arrow-fill:before {
  content: "\e909";
}
.icon-eidt:before {
  content: "\e908";
}
.icon-font:before {
  content: "\e907";
}
.icon-pic-short:before {
  content: "\e906";
}
.icon-pic-long:before {
  content: "\e905";
}
.icon-file:before {
  content: "\e904";
}
.icon-time:before {
  content: "\e903";
  color: #5a5a68;
}
.icon-cloud:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e901";
}
.icon-paint:before {
  content: "\e900";
  color: #515151;
}
.icon-zuojiantou:before {
  content: "\e912";
}
.icon-zhengque:before {
  content: "\e911";
}
.icon-dizhi:before {
  content: "\e910";
}
.icon-visitor:before {
  content: "\e913";
}
